@import url("https://scp-jp.github.io/Black-Highlighter/css/min/normalize.min.css");
@import url("https://scp-jp.github.io/Black-Highlighter/css/min/black-highlighter.min.css");

.color {
    font-weight: bold;
    text-align: center;
    color: white;
    border: 1px solid black;
    margin: 0.25em;
    padding: 1em;
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-duration: 1s;
}

.footnotes-footer {
    display: none;
}
