@import url(https://scp-wiki.wdfiles.com/local--code/theme%3Abasalt/1)

@import url(https://scp-wiki.wdfiles.com/local--code/theme%3Abasalt/2)

@import url(https://scp-wiki.wdfiles.com/local--code/theme%3Abasalt/3)

@import url(https://scp-wiki.wdfiles.com/local--code/theme%3Abasalt/4)

@import url(https://scp-wiki.wdfiles.com/local--code/theme%3Abasalt/5)

@import url(https://scp-wiki.wdfiles.com/local--code/theme%3Abasalt/6)

:root {
    --main-content-width: 70rem;
    --posX: 4vw;
}

#page-title {
    display: none;
}

.noclick {
    user-select: none;
}
