@import url("https://scp-jp.github.io/Black-Highlighter/css/min/normalize.min.css");
@import url("https://scp-jp.github.io/Black-Highlighter/css/min/black-highlighter.min.css");

#page-content .wikisys--template-dialog a {
    color: rgb(var(--newpage-color));
}

.cc4-caution {
    background: rgb(var(--bright-accent));
    color: #fff;
    margin: auto;
    padding: 3%;
}
.cc4-caution a {
    color: rgb(var(--newpage-color));
}

@import url("https://scp-jp.wdfiles.com/local--code/theme%3Aredtape/1")

@import url("https://scp-jp.wdfiles.com/local--code/theme%3Aredtape/2")

:root {
    --header-subtitle: "{$years} Minutes to Midnight";
    --minutes-to-midnight: {$years};
}
