@import url(https://scp-wiki.wdfiles.com/local--code/component%3Acroqstyle/1);


@import url('https://scp-wiki.wdfiles.com/local--code/theme%3Ainkblot/1');

:root {
  --inkblot-accent: {$accent};
}

:root {
  --inkblot-accent: coral;
  --header-title: "WALDON STUDIO";
  --header-subtitle: "我ら未知を鑑定する者";
  --debug-colour: blue;
}
:root:has(.picker li:nth-child(1).selected), .picker li:nth-child(1) em {
  --inkblot-accent: coral;
}
:root:has(.picker li:nth-child(2).selected), .picker li:nth-child(2) em {
  --inkblot-accent: rgb(203, 136, 154);
}
:root:has(.picker li:nth-child(3).selected), .picker li:nth-child(3) em {
  --inkblot-accent: royalblue;
}
:root:has(.picker li:nth-child(4).selected), .picker li:nth-child(4) em {
  --inkblot-accent: yellowgreen;
}
:root:has(.picker li:nth-child(5).selected), .picker li:nth-child(5) em {
  --inkblot-accent: red;
}
:root:has(.picker li:nth-child(6).selected), .picker li:nth-child(6) em {
  --inkblot-accent: magenta;
}
:root:has(.picker li:nth-child(7).selected), .picker li:nth-child(7) em {
  --inkblot-accent: teal;
}
:root:has(.picker li:nth-child(8).selected), .picker li:nth-child(8) em {
  --inkblot-accent: gold;
}

.picker .yui-navset * {
  display: contents !important;
}
.picker .yui-navset em {
  display: inline-block !important;
  color: color-mix(in srgb, black 25%, var(--inkblot-accent, red)) !important;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.25rem;
  border: none !important;
}
.picker .yui-navset .selected em {
  font-weight: 900;
  text-decoration: none;
}

.terminal {
  border-color: var(--inkblot-accent, grey);
}

@@
:root {
@@  --@@header-title: "WALDON STUDIO";
@@  --@@header-subtitle: "我ら未知を鑑定する者";
}
@@

@@
/* Toggle Sidebar compatibility */
#side-bar { top: 0; }
.inkblot-header { width: 100%; left: 0; }
@@
