/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * korolev:
 *   - http://typekit.com/eulas/00000000000000003b9b462b
 * korolev-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9b4637
 *   - http://typekit.com/eulas/00000000000000003b9b4636
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-09-05 05:56:05 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=mst2dnj&ht=tk&f=27920.27954.28025&a=85898075&app=typekit&e=css");

@font-face {
font-family:"korolev";
src:url("https://use.typekit.net/af/d9f701/00000000000000003b9b462b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d9f701/00000000000000003b9b462b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d9f701/00000000000000003b9b462b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"korolev-condensed";
src:url("https://use.typekit.net/af/e35d61/00000000000000003b9b4637/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e35d61/00000000000000003b9b4637/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e35d61/00000000000000003b9b4637/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"korolev-condensed";
src:url("https://use.typekit.net/af/d0274a/00000000000000003b9b4636/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/d0274a/00000000000000003b9b4636/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/d0274a/00000000000000003b9b4636/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-korolev { font-family: "korolev",sans-serif; }
.tk-korolev-condensed { font-family: "korolev-condensed",sans-serif; }
