@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplus1p/v33/e3tjeuShHdiFyPFzBRro-A.ttf) format('truetype');
}
